@page
@model Demo.Pages.People.IndexModel
@{
}

<a class="btn btn-primary btn-md" href="/People/create">New Client</a>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listClients)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.age</td>
                <td>@item.email</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/People/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/People/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
