@page
@model Demo.Pages.Operation.IndexModel
@{
}
<a class="btn btn-primary btn-md" href="/Operation/add">ADD</a>
<a class="btn btn-primary btn-md" href="/Operation/sub">SUB</a>
<a class="btn btn-primary btn-md" href="/Operation/mul">MUL</a>