@page
@model Demo.Pages.practiceModel
@{
    ViewData["Title"] = "Practice page";
}

<h1>Welcome to Practice Page</h1>

@if (Model.isok)
{
    string a = Model.a, b = Model.b;
    int A = int.Parse(a), B = int.Parse(b);
    <p>The sum of @a and @b is : @(A + B)</p>
    <a class="btn btn-primary btn-md" href="/Practice">ReStart</a>
}
@if (Model.isok == false)
{

    <table class = "table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>




    <form method="POST">
        <label>Enter Number A</label> <br>
        <input type="text" name="a" required> <br>

        <label>Enter Number B</label> <br>
        <input type="text" name="b" required> <br><br>

        <input class="btn btn-primary btn-md" type="submit" value="submit">
        <button class="btn btn-primary btn-md">submit</button>
        
    </form>
}
